.wrapper {
    display: grid;
    grid-template-areas: 'ava info'
'status status';
    grid-template-columns: 180px auto;
    grid-template-rows: auto max-content;
}

.ava {
    text-align: start;
    grid-area: ava;

}

.ava img {
    height: 150px;
    width: 150px;
}

.info {
    grid-area: info;
    padding-top: 20px;
}
.status{
    grid-area: status;
}